.textoInstrucciones{
	font-size: 45px !important;
}

.tituloInstrucciones{
	font-size: 55px !important;
}

.card-text{
	font-size: 25px !important;
}

.card-title{
	font-size: 35px !important;
}

.textoBoton{
	font-size: 25px !important;
}